In [1]:
# import python libraries

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt # visualizing data
%matplotlib inline
import seaborn as sns

In [2]:
# import csv file

df=pd.read_csv(r'C:\Users\RSC\Downloads\Python_Diwali_Sales_Analysis-main\Python_Diwali_Sales_Analysis-main\Diwali Sales Data.csv', encoding='unicode_escape')

In [3]:
df.shape

In [4]:
df.head()


# Data Cleanning

In [5]:
# Shows all information of data

df.info()

In [6]:
# Using .info() function, we get the two columms which has null values
# use .drop() function, to delet this column

df.drop(['Status','unnamed1'], axis=1, inplace=True)

In [7]:
#check for null values - use .isnull() function

pd.isnull(df).sum()

In [8]:
# drop null values - use .dropna() function

df.dropna(inplace=True)

In [9]:
# change data type - use .astype() function

df['Amount'] = df['Amount'].astype('int')

In [10]:
# Check the datatype of 'Amount' column 

df['Amount'].dtypes

In [11]:
df.columns

In [12]:
#rename column
df.rename(columns= {'Marital_Status':'Shaadi'})

In [13]:
# describe() method returns description of the data in the DataFrame (i.e. count, mean, std, etc)
df.describe()

In [14]:
# use describe() for specific columns

df[['Age', 'Orders', 'Amount']].describe()


# Exploratory Data Analysis

## Gender

In [15]:
df.columns

In [16]:
# plotting a bar chart for Gender and it's count

ax=sns.countplot(x='Gender', data=df)

for bars in ax.containers:
    ax.bar_label(bars)

In [17]:
df.groupby(['Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

In [18]:
# plotting a bar chart for gender vs total amount

sales_gen=df.groupby(['Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)


sns.barplot(x='Gender', y='Amount', data=sales_gen)

**From above graphs we can see that most of the buyers are females and even the purchasing power of females are greater than men**


# Age

In [19]:
ax=sns.countplot(data=df,x='Age Group',  hue='Gender')

for bars in ax.containers:
    ax.bar_label(bars)

In [20]:
df.groupby(['Age Group'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

In [21]:
# Total Amount vs Age Group

sales_age=df.groupby(['Age Group'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

sns.barplot(x='Age Group', y='Amount', data=sales_age)

**From above graphs we can see that most of the buyers are of age group between 26-35 yrs female



# State

In [22]:
# total number of orders from top 10 states

sales_state=df.groupby(['State'], as_index=False)['Orders'].sum().sort_values(by='Orders', ascending=False).head(10)

sns.set(rc={'figure.figsize':(15,5)})
sns.barplot(x='State', y='Orders', data=sales_state)

In [23]:
# total amount/sales from top 10 states

sales_state=df.groupby(['State'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False).head(10)

sns.set(rc={'figure.figsize':(15,5)})
sns.barplot(x='State', y='Amount', data=sales_state)

**From above graphs we can see that most of the orders & total sales/amount are from Uttar Pradesh, Maharashtra and Karnataka respectively



# Marital Status

In [24]:
ax=sns.countplot(x='Marital_Status', data=df, hue='Gender')

sns.set(rc={'figure.figsize':(6,5)})
for bars in ax.containers:
    ax.bar_label(bars)

In [25]:
df.groupby(['Marital_Status', 'Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

In [26]:
sales_state = df.groupby(['Marital_Status', 'Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

sns.set(rc={'figure.figsize':(6,5)})
sns.barplot(data = sales_state, x = 'Marital_Status',y= 'Amount', hue='Gender')

**From above graphs we can see that most of the buyers are married (women) and they have high purchasing power



# Occupation

In [27]:
sns.set(rc={'figure.figsize':(20,5)})
ax = sns.countplot(data = df, x = 'Occupation')

for bars in ax.containers:
    ax.bar_label(bars)

In [28]:
sales_state = df.groupby(['Occupation'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

sns.set(rc={'figure.figsize':(20,5)})
sns.barplot(data = sales_state, x = 'Occupation',y= 'Amount')

**From above graphs we can see that most of the buyers are working in IT, Healthcare and Aviation sector*


# Product Category

In [29]:
sns.set(rc={'figure.figsize':(20,5)})
ax = sns.countplot(data = df, x = 'Product_Category')

for bars in ax.containers:
    ax.bar_label(bars)

In [30]:
sales_state = df.groupby(['Product_Category'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False).head(10)

sns.set(rc={'figure.figsize':(20,5)})
sns.barplot(data = sales_state, x = 'Product_Category',y= 'Amount')

**From above graphs we can see that most of the sold products are from Food, Clothing and Electronics category*



# Conclusion

***Married women age group 26-35 yrs from UP, Maharastra and Karnataka working in IT, Healthcare and Aviation are more likely to buy products from Food, Clothing and Electronics category